*{
    box-sizing: border-box;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
}

/*header*/
header .logo{
    width: 100px;
    height: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.test{
    width: 65%;
}
header nav ul{
    list-style-type: none;
    margin: 1em 0 .5em;
    text-align: center;
}
header nav ul li{
    display:  inline;
}

header nav ul li a{
    display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
}
header nav ul li a:hover{
    background: #ffdd86;
    transition: all 500ms ease;
}

/*body*/
.banner-image .banner{
    width: 100%;
    height: 500px;
}
.product-list{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}
.product-list .product-list-detail{
    padding: 0 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.product-list .product-list-detail img{
    margin-top: 8px;
    vertical-align: middle;
    width: 210px;
    height: 300px;
    opacity: 0.8;
    transition: opacity .6s;
}
.product-list .product-list-detail img:hover{
    opacity: 1;
}
.product-list .product-list-detail .product-list-detail-description{
    padding-top: 15px;
    text-align: center;
}
.product-list .product-list-detail .product-list-detail-description p{
    padding-top: 5px;
    padding-bottom: 10px;
}
.product-list-title{
    text-align: center;
    margin: 5px;
}
/*about*/
.long-content-title {
    text-align: center;
    padding: 10px;
    font-size: 50px;
}
.long-content-paragraph {
    word-spacing: 6px;
    padding: 25px;
    text-align: center;
    font-size: 25px;
}
.long-content-paragraph .long-content-beautiful{
    font-size: 45px;
    color: red;
}
/*footer*/
footer{
    text-align:center;
    background-color: #e0e0e0;
    padding: 15px;
}
footer .footer-thank-you{
    font-size: 20px;
    margin: 5px;
}
footer .fa {
    padding: 20px;
    font-size: 30px;
    width: 67px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  